# Arquivos de Sistema e IDE
.DS_Store
.vscode/
.idea/
.project
.classpath
.c9/
.settings/
*.sublime-workspace
.history/
Thumbs.db
*.log
*.sqlite
__pycache__/

### Angular (Frontend)
# Pasta de build e cache
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# Dependências
/node_modules
npm-debug.log
yarn-error.log

# Testes e relatórios
/coverage
testem.log
libpeerconnection.log

### Python (Backend)
# Ambiente virtual
.env
.venv/
venv/
env/
/dist
/build
/lib/
/include/
/bin/

# Cache e arquivos de compilação
*.pyc
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

### Docker
# Ignora arquivos gerados localmente pelo Docker Compose
.docker/